.title {
    color: #cb78cc;
    font-family: 'Amatic SC', cursive;
    font-weight: 700;
    font-size: 10rem;
    margin-block-start: 0;
    margin-block-end: 0;
    text-decoration: underline;
    text-decoration-thickness: from-font;
}

.container {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

form {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: 'Amatic SC', cursive;
    font-weight: 700;
    font-size: 5.5rem;
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

label, input {
    display: inline-block;
    height: 4rem;
    width: 90%;
    margin-bottom: 10rem;
    align-self: center;
}

input {
    height: 7rem;
    font-size: 3.5rem;
    text-align: left;
    padding-left: 1rem;
    padding-right: 1rem;
}

.subtitle {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.btn {
    width: 80%;
    height: 5rem;
    border-radius: 5rem;
    font-size: 3rem;
    text-align: center;
}

.result {
    font-family: 'Amatic SC', cursive;
    font-size: 5rem;
    text-align: center;
    list-style-position: inside;
}

.result-number {
    font-weight: bold;
}

p {
    font-family: 'Amatic SC', cursive;
    font-weight: 700;
    font-size: 6rem;
    color: #5493ff;
    text-align: center;
}

html {
    background: url("../assets/background.jpeg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}